<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://vibepad.now/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>3kdaaiRUrAy4iUKbSk8y3ZD9TuxGBLH82HsbZK1boCM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
